* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #d9f4ff;
    border-style: solid;
    height: 800px;
    width: 500px;
}