* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #d9f4ff;
    border-style: solid;
    height: 800px;
    flex-basis: 500px;
}

aside {
    flex-basis: 200px;
    background-color: red;
    align-self: flex-start;
}

.container {
    display: flex;

}

.button {
    flex-basis: 200px;
    height: 132.5px;

}

